/*
 * Copyright 2018-2020 Digi International Inc.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

/dts-v1/;

/*
 * The device tree for the ConnectCore 8X SBC Pro is made out of different
 * device tree include files that contain the common hardware of all variants.
 *
 * A U-Boot boot script applies additional overlays for variant-specific
 * hardware, including:
 *  - Overlay for ConnectCore 8X variants with a quad-core CPU
 *  - Overlay for ConnectCore 8X variants with Wi-Fi
 *  - Overlay for ConnectCore 8X variants with Bluetooth
 *
 * If you are not going to use Digi's boot script, you can:
 *  - Manually add the overlays to U-Boot's "overlays" environment variable
 *  - Apply the overlay fragments manually to this device tree, if you don't
 *    use Digi U-Boot's "dboot" command
 */
/* i.MX8DX CPU */
#include "../freescale/imx8dx.dtsi"
/* Digi ConnectCore 8X */
#include "ccimx8x.dtsi"
/* Digi ConnectCore 8X SBC Pro */
#include "ccimx8x-sbc-pro.dtsi"

/*
 * i.MX8X ADC channels on Expansion connector:
 *  - ADC_IN0 (channel 0)
 *  - ADC_IN1 (channel 1)
 *  - ADC_IN2 (channel 2)
 *  - ADC_IN3 (channel 3)
 *  - ADC_IN4 (channel 4)
 *  - ADC_IN5 (channel 5)
 * Include in digi,adc-ch-list the ADC channels (from 0 to 5) that you want to
 * enable. Note that the iomux has to be configured accordingly in pinctrl_adc0
 * to configure the pads for ADC operation. Make sure to remove them from
 * pinctrl_expansion where they may already be configured with another use.
 */
&adc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc0>;
	digi,adc-ch-list = <0 1>;
	status = "okay";
};

&dc0_dpr1_channel1 {
	status = "okay";
};

&dc0_dpr1_channel2 {
	status = "okay";
};

&dc0_dpr1_channel3 {
	status = "okay";
};

&dc0_dpr2_channel1 {
	status = "okay";
};

&dc0_dpr2_channel2 {
	status = "okay";
};

&dc0_dpr2_channel3 {
	status = "okay";
};

&dpu1 {
	status = "okay";
};

&fec1 {
	status = "okay";
};

&fec2 {
	status = "okay";
};


&gpu_3d0 {
	status = "okay";
};


/*
 * I2C3 connected to MCP23018 GPIO-expander. */
&i2c3 {
	status = "okay";
};


/********************************** MIPI-CSI0 camera interface controls (via I2C0): **************************************/
&i2c_mipi_csi0 {
	status = "okay";
};

&i2c0_mipi_lvds0 {
	status = "okay";	/* MIPI-DSI0 I2C available on LVDS0 connector --> NOT in use! ELO-touchscreen use USB, not I2C!! */
};

&imx8_gpu_ss {
	status = "okay";
};

&cm40_intmux {
	status = "okay";
};

&isi_0 {
	status = "okay";
};

&isi_1 {
	status = "okay";
};

&isi_2 {
	status = "okay";
};

&isi_3 {
	status = "okay";
};

&jpegdec {
	status = "okay";
};

&jpegenc {
	status = "okay";
};

&ldb1 {
	status = "okay";
};

&ldb1_phy {
	status = "okay";
};

/********************************** MIPI-DSI0 (LVDS-)display serial interface: **************************************/
&lvds0 {
	status = "okay";
};

/* NOTE: this is ONLY for use of PWM-output, controlling backlight intensity on ELO panel! */
&lvds_backlight0 {
	status = "okay";
};

&lvds0_panel {
	status = "okay";
};

/* This is the actual PWM interface for backlight: */
&pwm_mipi_lvds0 {
	status = "okay";
};



/* LPSPI2 - used for Tricolor-LED control (via SPIDEV-node), only using SCK and SDO signals! */
&lpspi2 {
	assigned-clock-rates = <60000000>;
	status = "okay";

	/*
	 * Add your slave devices here. Next is an example of spidev.
	 * Expect a harmless kernel warning if you enable spidev as slave.
	 */
	spidev@0 {
		compatible = "spidev";
		reg = <0>;				// Will be associated with 'CS0' ChipSelect. reg=<1> is 'CS1' etc.
		spi-max-frequency = <4000000>;
	};
};


/* LPSPI3 - used for NFC-reader communication and control (via SPIDEV-node), using CS0 signal. */
&lpspi3 {
	assigned-clock-rates = <60000000>;
	status = "okay";

	/* NFC controlled via SPIDEV userspace-driver (a.t.m.) */
	spidev@0 {
		compatible = "spidev";
		reg = <0>;				// Will be associated with 'CS0' ChipSelect. reg=<1> is 'CS1' etc.
		spi-max-frequency = <4000000>;
	};
};


/* LPUART0 (not in use a.t.m. - but Tx/Rx-pads available). NOTE: used as GPIOs in WICC-board rev.B !! */
/*
&lpuart0 {
	// Only TxD and RxD signals available - no RTC/CTS - so 2-wire interface used: 
	pinctrl-0 = <&pinctrl_lpuart0_2wires>;
	status = "okay";
};
*/

/* Console */
&lpuart2 {
	status = "okay";
};


/********************** MCA UARTs. Assign the IO pins (see bindings) and change status to 'okay' *******************/

/* TO BE ASSESSED - no use of MCA-UARTs a.t.m.(???) */
/*
&mca_uart {
	status = "disabled";
};


&mca_uart0 {
	iopins-names = "rx", "tx";
	iopins = <9 10>;
	status = "disabled";
};


&mca_uart1 {
	iopins-names = "rx", "tx";
	iopins = <11 16>;
	status = "disabled";
};


&mca_uart2 {
	iopins-names = "rx", "tx", "cts", "rts";
	iopins = <2 1 3 4>;
	status = "disabled";
};
*/


/* Power LED on MCA_IO13 */
/*
&mca_led {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	led@0 {
		reg = <0>;
		label = "power:green";
		io = <13>;
		linux,default-trigger = "default-on";
		retain-state-suspended;
	};
};
*/

&irqsteer_csi0 {
	status = "okay";
};


/********************************** USB section *****************************************/

/* USB_OTG1 connected to the usb hub */
&usbotg1 {
	status = "okay";
};


&usbphy1 {
	status = "okay";
};


/* USB_SS3 is NOT used! (not on castellated pads) --> but name is used here (usbotg3) because USB_SS3 and USB_OTG2 is part of same USB (host-)controller! */

&usb3phynop1 {
	status = "okay";
};

&usbotg3 {
	dr_mode = "host";
	maximum-speed = "high-speed";                            // Typically NOT necessary to set ... (but, connected to LTE-modem on mPCIe-slot, that anyway do NOT support USB3 SuperSpeed ...).
	disable-over-current;
	status = "okay";
};




/************************** Micro SD card ***************************/
&usdhc2 {
	status = "okay";
};


&vpu_decoder {
	status = "okay";
};

&vpu_encoder {
	status = "okay";
};



/************************************** IOMUX (settings for digital GPIO that are NOT claimed by drivers) *****************************************/
/*
IOMUXC
------
Pad-mux control register controls the IOMUX of the given pad(=pin).
Bit[29:27] represents the 'mux_control' field.
E.g. the mask is as follows for MUX<n> setting:
MUX0 = 0x00000000
MUX1 = 0x08000000
MUX2 = 0x10000000
MUX3 = 0x18000000
MUX4 = 0x20000000 --> pinmux=4 : LSGPIO setting (if available)
MUX5 = NA
MUX6 = NA
MUX7 = NA
*/
&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_expansion>;

	/* Expansion Connector */
	pinctrl_expansion: expansiongrp {
		fsl,pins = <
			/************ MUX0 (ADC0) select-signals **************/
			/* IO4.31 */
			IMX8QXP_ENET0_RGMII_TXD0_LSIO_GPIO4_IO31    0x20000040
			/* IO5.0 */
			IMX8QXP_ENET0_RGMII_TXD1_LSIO_GPIO5_IO00    0x26000040
			/* IO5.1 */
			IMX8QXP_ENET0_RGMII_TXD2_LSIO_GPIO5_IO01    0x26000040
			/* IO5.2 */
			IMX8QXP_ENET0_RGMII_TXD3_LSIO_GPIO5_IO02    0x26000040
			
			/************ MUX1 (ADC1) select-signals **************/
			/* IO4.29 */
			IMX8QXP_ENET0_RGMII_TXC_LSIO_GPIO4_IO29         0x26000040
			/* IO4.30 */
			IMX8QXP_ENET0_RGMII_TX_CTL_LSIO_GPIO4_IO30      0x26000040
			/* IO5.4 */
			IMX8QXP_ENET0_RGMII_RX_CTL_LSIO_GPIO5_IO04      0x26000040
			/* IO5.3 */
			IMX8QXP_ENET0_RGMII_RXC_LSIO_GPIO5_IO03         0x26000040
			
			/************ Outlet_A Relays ************************/
			/* IO3.16 */
			IMX8QXP_QSPI0A_SCLK_LSIO_GPIO3_IO16             0x20000040
			/* IO1.19 */
			IMX8QXP_FLEXCAN2_RX_LSIO_GPIO1_IO19             0x20000040
			/* IO1.20 */
			IMX8QXP_FLEXCAN2_TX_LSIO_GPIO1_IO20             0x20000040
			/* IO1.17 */
			IMX8QXP_FLEXCAN1_RX_LSIO_GPIO1_IO17             0x20000040
			/* IO1.18 */
			IMX8QXP_FLEXCAN1_TX_LSIO_GPIO1_IO18             0x20000040
			/* IO1.15 */
			IMX8QXP_FLEXCAN0_RX_LSIO_GPIO1_IO15             0x20000040
			/* IO1.16 */
			IMX8QXP_FLEXCAN0_TX_LSIO_GPIO1_IO16             0x20000040
			/* IO0.19 */
			IMX8QXP_MCLK_IN0_LSIO_GPIO0_IO19                0x20000040
			
			/**************** Outlet_B Relays ********************/
			/* IO3.14 */
			IMX8QXP_QSPI0A_SS0_B_LSIO_GPIO3_IO14            0x20000040
			/* IO5.5 */
			IMX8QXP_ENET0_RGMII_RXD0_LSIO_GPIO5_IO05        0x20000040
			/* IO5.6 */
			IMX8QXP_ENET0_RGMII_RXD1_LSIO_GPIO5_IO06        0x20000040
			/* IO5.7 = signal 'S3_1' */
			IMX8QXP_ENET0_RGMII_RXD2_LSIO_GPIO5_IO07        0x20000040
			/* IO5.8 */
			IMX8QXP_ENET0_RGMII_RXD3_LSIO_GPIO5_IO08        0x20000040
			/* IO5.9 */
			IMX8QXP_ENET0_REFCLK_125M_25M_LSIO_GPIO5_IO09   0x20000040
			/* IO5.10 */
			IMX8QXP_ENET0_MDIO_LSIO_GPIO5_IO10    	  0x20000040
			/* IO5.11 */
			IMX8QXP_ENET0_MDC_LSIO_GPIO5_IO11               0x20000040
			
			/******************** Cable-Lock Motor Control **********************/
			/* IO1.21 = "Control_Motor_B_lock" --> pin 'IMX8QXP_UART0_RX' */
			IMX8QXP_UART0_RX_LSIO_GPIO1_IO21                0x20000040
			/* IO1.22 = "Control_Motor_A_lock"  --> pin 'IMX8QXP_UART0_TX' */
			IMX8QXP_UART0_TX_LSIO_GPIO1_IO22                0x20000040
			
			/* IO4.22 = "Control_Motor_A_unlock" --> pin 'IMX8QXP_USDHC1_CD_B' */
			IMX8QXP_USDHC1_CD_B_LSIO_GPIO4_IO22             0x20000040
			
			/* IO1.25 = "Control_Motor_B_unlock" --> pin 'IMX8QXP_MIPI_DSI0_I2C0_SCL' */
			// IMX8QXP_MIPI_DSI0_I2C0_SCL_LSIO_GPIO1_IO25      0x20000040                           // NOTE: no can do - using pin as GPIO removes connection i.MX8X<-->MCA !!
			/* IO1.26 = signal "EN_Locking_Motor_Battery" --> pin 'IMX8QXP_MIPI_DSI0_I2C0_SDA' */
			// IMX8QXP_MIPI_DSI0_I2C0_SDA_LSIO_GPIO1_IO26      0x20000040                           // NOTE: no can do - using pin as GPIO removes connection i.MX8X<-->MCA !!
			
			/* IO1.28 = "Lock_state_A" --> pin 'IMX8QXP_MIPI_DSI0_GPIO0_01' */
			IMX8QXP_MIPI_DSI0_GPIO0_01_LSIO_GPIO1_IO28	    0x20000040
			/* IO1.29 = 'Lock_state_B' --> pin 'IMX8QXP_MIPI_DSI0_GPIO0_01' */
			IMX8QXP_MIPI_DSI1_I2C0_SCL_LSIO_GPIO1_IO29	    0x20000040
			
			
			/***************** BatteryCharger Control ******************/
			/* IO1.30 = 'POWER_ON_Charger' --> pad 'IMX8QXP_MIPI_DSI1_I2C0_SDA' (pin22 on module) */
			IMX8QXP_MIPI_DSI1_I2C0_SDA_LSIO_GPIO1_IO30      0x20000040
			
			
			/*************** EXT-outlet Relay control ******************/
                       /* 'S_Ex_contact_control' = IO1.31 */
			IMX8QXP_MIPI_DSI1_GPIO0_00_LSIO_GPIO1_IO31      0x20000040
			
			/*************** Board sensors --> probably belongs in DTSI-file *************************/
			/* INT_ACC = IO9.2 --> MCA_IO2 */
			/* INT_TEMP = IO9.3 --> MCA_IO3 */
			
			/*************** Backlight controls --> probably belongs in DTSI-file *************************/
			/* BACKLIGHT_ENABLE = IO9.4 --> MCA_IO4 */
			    
			/*************** Outlet_A alarms *************************/
			/* AC_ALARM_A = IO9.9 --> MCA_IO9 */
			/* DC_ALARM_A = IO9.10 --> MCA_IO10 */
			
                       /*************** Outlet_B alarms *************************/
			/* AC_ALARM_B = IO9.9 --> MCA_IO9 */
			/* DC_ALARM_B = IO9.10 --> MCA_IO10 */
			
			/*************** MCP23018 GPIO-expander control --> probably belongs in DTSI-file (TODO: where??) *************************/
			/* RESET_MCP_io_expander = IO3.15 */
			IMX8QXP_QSPI0A_SS1_B_LSIO_GPIO3_IO15             0x26000060
			
			/***************** USB --> belongs in DTSI-file as they are associated w. specific (USB-)drivers **********************/	
					 
                       /***************** LTE-modem --> belongs in DTSI-file for same reason **********************/
                       
			/***************** Tricolor-LED Control --> belongs in DTSI-file (part of SPI2 setup) **********************/
			
			/***************** NFC --> belongs in DTSI-file (??) IF used with a driver. NOT USED IN VER.1 !! *******************************/
			/* 'NFC_POWER_TX' = IO1.29 */
			// IMX8QXP_MIPI_DSI1_I2C0_SCL_LSIO_GPIO1_IO29    0x26000060
			/* 'POWER_ON_NFC' = IO1.30 */
			// IMX8QXP_MIPI_DSI1_I2C0_SDA_LSIO_GPIO1_IO30    0x26000060
			/* 'NFC_IRQ_IN' = IO4.22 */
			// IMX8QXP_USDHC1_CD_B_LSIO_GPIO4_IO22           0x26000060
			/* 'NFC_IRQ_OUT' = MCA_IO1 = GPIO9_1 --> need NOT be part of DTS as long as userspace controls it! */
		>;
	};

	/* i.MX8X internal (12-bit, Vref=1.8V) ADC. Uncomment the pads you wish to use as ADC-inputs: */
	pinctrl_adc0: adc0grp {
		fsl,pins = <
			/* ADC_IN0 */
			IMX8QXP_ADC_IN0_ADMA_ADC_IN0		0xc0000060
			/* ADC_IN1 */
			IMX8QXP_ADC_IN1_ADMA_ADC_IN1		0xc0000060
		>;
	};
};


